:root {
  --color-element-primary: rgb(235, 84, 64);
  --color-element-secondary: rgb(74, 75, 76);
  --color-element-tertiary-light: rgb(233, 232, 232);
  --color-element-tertiary-dark: rgb(195, 195, 195);
  --color-element-background-1: rgb(246, 246, 246);
  --color-element-background-2: rgb(255, 255, 255);

  --color-text-primary: rgb(0, 0, 0);
  --color-text-secondary: rgb(74, 75, 76);
  --color-text-hyperlink: rgb(6, 123, 194);

  --font-primary: 'Montserrat', Georgia;
  --font-secondary: 'Open Sans', Georgia;
}
